@using Travellers.Entities.Concrete.Dtos;

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ShipDto

<form asp-action="Update" asp-controller="Ship" method="post">
    <h1>Ship Update</h1> <br />

    <label>Category Id:</label>
    <input type="text" placeholder="Category Id" asp-for="CategoryId" value="@Model.CategoryId"/> <br />
    <label>Tour Id:</label>
    <input type="text" placeholder="Tour Id" asp-for="TourId" value="@Model.TourId" /> <br />
    <label>Ship Company:</label>
    <textarea placeholder="Ship Company" asp-for="ShipCompany" value="@Model.ShipCompany"></textarea> <br />
    <label>Ship Name:</label>
    <input type="text" placeholder="Ship Name" asp-for="ShipName" value="@Model.ShipName" /> <br />
    <label>Region:</label>
    <textarea placeholder="Region" asp-for="Region" value="@Model.Region"></textarea> <br />
    <label>Tour Duration</label>
    <input type="text" placeholder="Tour Duration" asp-for="TourDuration" value="@Model.TourDuration" /> <br />
    <label>Image:</label>
    <input type="text" placeholder="Image" asp-for="Image" value="@Model.Image" /> <br />
    <label>Period:</label>
    <input type="date" placeholder="Period" asp-for="Period" value="@Model.Period" /> <br />
    <label>Price:</label>
    <input type="text" placeholder="Price" asp-for="Price" value="@Model.Price" /> <br />

    <input type="submit" value="Update" />
</form>
