@using Travellers.Entities.Concrete.Dtos;
@model FlightToTicketDto

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form asp-action="Update" asp-controller="FlightToTicket" method="post">
    <h1>Place To Visit Update</h1>
    <label>Category Id:</label>
    <input type="text" placeholder="Category Id" asp-for="CategoryId" value="@Model.CategoryId" /> <br />
    <label>Tour Id:</label>
    <input type="text" placeholder="Tour Id" asp-for="TourId" value="@Model.TourId" /> <br />
    <label>Place To Visit Name:</label>
    <input type="text" placeholder="City Id" asp-for="CityId" value="@Model.CityId" /> <br />
    <label>Price:</label>
    <input type="text" placeholder="Price" asp-for="Price" value="@Model.Price" /> <br />
    <label>Flight Company:</label>
    <input type="text" placeholder="Flight Company" asp-for="FlightCompany" value="@Model.FlightCompany" /> <br />
    <label>Departure Time:</label>
    <input type="text" placeholder="Departure Time" asp-for="DepartureTime" value="@Model.DepartureTime" /> <br />
    <label>Flight Time:</label>
    <input type="text" placeholder="Flight Time" asp-for="FlightTime" value="@Model.FlightTime" /> <br />
    <label>Transfer Status:</label>
    <input type="text" placeholder="Transfer Status" asp-for="TransferStatus" value="@Model.TransferStatus" /> <br />
    <label>Luggage Status:</label>
    <input type="text" placeholder="Luggage Status" asp-for="LuggageStatus" value="@Model.LuggageStatus" /> <br />
    <label>Price</label>
    <input type="text" placeholder="Price" asp-for="Price" value="@Model.Price" /> <br />

   

    <input type="submit" value="Update" href="/FlightToTicket/Index" />
</form>

